---
import Section from '../components/section.astro'
import SectionFaq from '../components/section-faq.astro'
import Button from '../components/button.astro'
import Toast from '../components/toast.astro'
import '../styles/global.css'

const IBAN = 'LT68 3250 0758 8303 8026'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body class="relative flex w-full flex-col items-center">
		<div class="flex flex-col shadow-2xl sm:w-full md:max-w-[1200px]">
			<div class="bg-[#f3f4e7] sm:h-[100vh] md:h-[80vh]">
				<div
					class="relative w-full sm:h-[95%] sm:bg-[url('/public/images/main-1.jpeg')] sm:bg-cover sm:bg-center md:bg-[url('/public/images/main-1-o.jpg')] md:bg-top"
				>
					<div
						class="absolute font-coursive2 text-[#D8D2C7] sm:top-[6vh] sm:w-full sm:text-center md:right-14 md:w-auto md:justify-end"
					>
						<div class="flex gap-3 sm:items-center sm:justify-center">
							<p class="sm:text-5xl md:text-8xl">Cristina</p>
							<p class="sm:text-1xl md:text-[30px]">♡</p>
							<p class="sm:text-5xl md:text-8xl">Roberto</p>
						</div>
						<p class="sm:text-xl md:text-5xl">06 settembre 2025</p>
					</div>
				</div>
			</div>
			<Section
				image="images/nicolosi.jpg"
				title={`La cerimonia`}
				description={`La cerimonia si terrà alle ore 11.00 al comune di Nicolosi, in provincia di Catania.<br />Ci vediamo alle ore 10.30 in piazza e dopo la cerimonia ci sposteremo al Rifugio “Manfrè” per il pranzo.`}
			>
				<Button href="https://maps.app.goo.gl/ZezxoKg168KsNgfB6">Google Maps</Button>
			</Section>
			<Section
				image="images/rifugio-section.jpg"
				title={`Rifugio “Manfrè”<br />Nicolosi (CT)`}
				description={`Il Rifugio “Manfrè” si trova immerso nello splendido paesaggio vulcanico etneo ed è raggiungibile comodamente in macchina. Trascorreremo l’intera giornata immersi nel verde tra buon cibo e buona compagnia.`}
				swap
			>
				<Button href="https://maps.app.goo.gl/aCtBjReUfmkaG5Nq9">Google Maps</Button>
			</Section>
			<Section
				image="images/organization-section.png"
				title="Come ci organizziamo?"
				description="Facci sapere quanto prima se ci sarai e se hai qualche esigenza particolare. Abbiamo preparato un breve questionario che ci aiuterà ad organizzarci per rendere questa giornata ancora più bella e divertente per tutti."
				><Button
					href="https://docs.google.com/forms/d/e/1FAIpQLScX-HyL-ykYf6YNDtvZDcId9v1Zi-aZpia4l239KckfxlWvFQ/viewform?usp=dialog"
					>Compila</Button
				>
			</Section>
			<Section
				image="images/viaggio-section.jpg"
				title={`Viaggio di nozze`}
				description={`Ci teniamo a dirvi che il più grande regalo che potete farci è venire a festeggiare con noi questo giorno. Siamo perfettamente consapevoli che esserci è di per sé un gesto di affetto ma anche un costo e vorremmo che nessuno si senta messo in difficoltà.<br/>Se desiderate comunque farci un pensiero, anche simbolico, potete contribuire al nostro viaggio di nozze!`}
				swap
			>
				<div class="mx-auto w-full max-w-md">
					<!-- HEADER ACCORDION -->
					<button
						id="accordion-toggle"
						class="flex w-full items-center justify-center gap-2 py-3 font-semibold text-blue-800 underline"
					>
						Scopri
						<svg
							id="accordion-icon"
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5 transition-transform duration-300"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="2"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
						</svg>
					</button>

					<!-- CONTENUTO NASCOSTO -->
					<div
						id="accordion-content"
						class="grid max-h-0 overflow-hidden transition-all duration-500 ease-in-out"
					>
						<div class="flex flex-col py-3">
							<p><strong>IBAN:</strong> <span id="iban">{IBAN}</span> (sì è lituano)</p>
							<p><strong>Intestatario:</strong> <span id="int">Roberto Colombo</span></p>
							<div class="mt-3 flex flex-col items-center justify-center gap-3">
								<div
									class="flex w-max cursor-pointer flex-col items-center justify-center gap-2 text-blue-800 underline"
									id="copy-iban"
								>
									Copia IBAN
								</div>
								<div
									class="flex w-max cursor-pointer flex-col items-center justify-center gap-2 text-blue-800 underline"
									id="copy-int"
								>
									Copia Intestatario
								</div>
							</div>
						</div>
					</div>
				</div>

				<Toast message="Grazie! :)" type="success" />

				<script>
					const toggleBtn = document.getElementById('accordion-toggle')
					const content = document.getElementById('accordion-content')
					const icon = document.getElementById('accordion-icon')
					const copyIbanBtn = document.getElementById('copy-iban')
					const copyIntBtn = document.getElementById('copy-int')
					const ibanEl = document.getElementById('iban')
					const intEl = document.getElementById('int')

					toggleBtn.addEventListener('click', () => {
						const isOpen = content.classList.contains('max-h-40') // controllo stato

						if (isOpen) {
							content.classList.remove('max-h-40')
							content.classList.add('max-h-0')
							icon.classList.remove('rotate-180')
						} else {
							content.classList.remove('max-h-0')
							content.classList.add('max-h-40') // aumenta se i contenuti sono di più
							icon.classList.add('rotate-180')
						}
					})

					copyIbanBtn.addEventListener('click', () => {
						const iban = ibanEl.textContent.replace(/ /g, '')
						navigator.clipboard.writeText(iban)
						showToast()
					})
					copyIntBtn.addEventListener('click', () => {
						const int = intEl.textContent
						navigator.clipboard.writeText(int)
						showToast()
					})
				</script>
			</Section>

			<Section
				image="images/contact.jpeg"
				title="Teniamoci aggiornati!"
				description="Abbiamo creato un gruppo Whatsapp del matrimonio per organizzarci in quei giorni, cercare/offire passaggi e condividere qualche foto. Se vuoi unirti, clicca sul bottone qui sotto!"
			>
				<Button href="https://chat.whatsapp.com/HC0I7rYA1WnLab8cbjGdtf">Entra nel gruppo</Button>
			</Section>
			<div
				class={`p-10 px-[3%] flex h-min-[700px] bg-gradient-to-b from-[#f3f4e7] justify-around flex-col gap-4`}
			>
				<SectionFaq
					image="images/faq1.jpg"
					title='"Ma come ti vesti?"'
					description="Se ci conoscete bene saprete che amiamo molto stare all'aria aperta, siamo in montagna e a 1350mt vige la regola meglio comodi che belli! Non tutto il posto è cementato quindi vi consigliamo scarpe comode."
				/>
				<SectionFaq
					image="images/faq2.jpg"
					title="Dove dormo?"
					description="Le possibilità sono molteplici in base alle vostre esigenze, rimanendo nei pressi di Nicolosi o paesi vicini la scelta è molto ampia, sentitevi liberi di contattarci per chiederci consiglio."
					swap
				/>
			</div>
			<div
				id="footer"
				class="relative w-full bg-[url('/public/images/footer.jpg')] bg-left sm:h-[100vh] sm:bg-cover sm:bg-center"
			>
				<div class="absolute top-[6vh] w-full text-center font-coursive2 sm:text-[#D8D2C7]">
					<p class="sm:text-5xl md:text-5xl">GRAZIE!</p>
				</div>
			</div>
			<script>
				document.addEventListener('scroll', () => {
					let position = (window.scrollY / (document.body.scrollHeight - window.innerHeight)) * 85 // Convert to percentage
					document.querySelector('#footer').style.backgroundPositionX = `${position}%`
				})
			</script>
		</div>
	</body>
</html>
