---
import Section from '../components/section.astro'
import SectionFaq from '../components/section-faq.astro'
import Button from '../components/button.astro'
import Toast from '../components/Toast.astro'
import '../styles/global.css'

const IBAN = 'LT68 3250 0758 8303 8026'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body class="relative flex w-full flex-col items-center">
		<div class="flex flex-col shadow-2xl sm:w-full md:max-w-[1500px]">
			<div class="bg-[#f3f4e7] sm:h-[100vh] md:h-[700px]">
				<div
					class="relative w-full sm:h-[95%] sm:bg-[url('/public/images/main.jpg')] sm:bg-cover sm:bg-center md:bg-[url('/public/images/main-o.jpg')]"
				>
					<div
						class="absolute top-[6vh] w-full text-center font-coursive2 sm:text-[#D8D2C7] md:text-[#303033]"
					>
						<div class="flex items-center justify-center gap-3">
							<p class="sm:text-5xl md:text-8xl">Cristina</p>
							<p class="sm:text-1xl md:text-[30px]">♡</p>
							<p class="sm:text-5xl md:text-8xl">Roberto</p>
						</div>
						<p class="sm:text-xl md:text-5xl">06 settembre 2025</p>
					</div>
				</div>
			</div>
			<Section
				image="images/rifugio-section.jpg"
				title={`Rifugio “Manfrè”<br />Nicolosi (CT)`}
				description={`Il Rifugio “Manfrè” si trova immerso nello splendido paesaggio vulcanico etneo ed è raggiungibile comodamente in macchina. Trascorreremo l’intera giornata immersi nel verde tra buon cibo e buona compagnia.`}
			>
				<Button href="https://maps.app.goo.gl/aCtBjReUfmkaG5Nq9">Google Maps</Button>
			</Section>
			<Section
				image="images/organization-section.png"
				title="Come ci organizziamo?"
				description="Facci sapere quanto prima se ci sarai e se hai qualche esigenza particolare. Abbiamo preparato un breve questionario che ci aiuterà ad organizzarci per rendere questa giornata ancora più bella e divertente per tutti."
				swap
				><Button
					href="https://docs.google.com/forms/d/e/1FAIpQLScX-HyL-ykYf6YNDtvZDcId9v1Zi-aZpia4l239KckfxlWvFQ/viewform?usp=dialog"
					>Compila</Button
				>
			</Section>
			<Section
				image="images/viaggio-section.jpg"
				title={`Viaggio di nozze`}
				description={`Ci teniamo a dirvi che il più grande regalo che potete farci è venire a festeggiare con noi questo giorno. Siamo perfettamente consapevoli che esserci è di per sé un gesto di affetto ma anche un costo e vorremmo che nessuno si senta messo in difficoltà.<br/>Se desiderate comunque farci un pensiero, anche simbolico, potete contribuire al nostro viaggio di nozze!`}
			>
				<div
					viaggio-di-nozze
					class="flex w-max cursor-pointer flex-col items-center justify-center gap-2"
				>
					<p class="text-blue-800 underline">Copia IBAN</p>
					<p id="iban">{IBAN}</p>
				</div>
				<Toast message="Grazie! :)" type="success" />
				<script>
					document.querySelector('[viaggio-di-nozze]').addEventListener('click', () => {
						const copiedMsg = document.getElementById('iban').textContent.replace(/ /g, '')

						navigator.clipboard.writeText(copiedMsg)

						showToast()
					})
				</script>
			</Section>
			<Section
				image="images/contact.jpeg"
				title="Teniamoci aggiornati!"
				description="Abbiamo creato un gruppo Whatsapp del matrimonio per organizzarci in quei giorni, cercare passaggi/offire passaggi e condividere qualche foto. Se vuoi unirti, clicca sul bottone qui sotto!"
				swap
			>
				<Button href="https://chat.whatsapp.com/HC0I7rYA1WnLab8cbjGdtf">Entra nel gruppo</Button>
			</Section>
			<div
				class={`p-10 px-[3%] flex h-min-[700px] bg-gradient-to-b from-[#f3f4e7] justify-around flex-col gap-4`}
			>
				<SectionFaq
					image="images/faq1.jpg"
					title='"Ma come ti vesti?"'
					description="Se ci conoscete bene saprete che non ci piace molto stare fermi, siamo in montagna, in un bosco,  a 1276mt quindi vige la regola meglio comodi che belli."
				/>
				<SectionFaq
					image="images/faq2.jpg"
					title="Dove dormo?"
					description="Le possibilità sono molteplici in base alle vostre esigenze, immediatamente nei pressi c’è l’albergo “La nuova quercia” ma rimanendo nei paesi etnei la scelta è molto ampia, sentitevi liberi di contattarci per chiederci consiglio."
					swap
				/>
			</div>
		</div>
	</body>
</html>
