---
import Section from '../components/section.astro'
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body>
		<div class="h-[763px] bg-[#f3f4e7]">
			<div class="h-full w-full bg-[url('/public/images/main.jpg')] bg-cover">
				<div class="absolute top-16 w-full text-center font-coursive2 text-[#303033]">
					<p class="text-8xl">Cristina e Roberto</p>
					<p class="text-5xl">06 settembre 2025</p>
				</div>
			</div>
		</div>
		<Section
			title={`Rifugio “La ginestra”<br />Nicolosi (CT)`}
			description=`Il Rifugio “La Ginestra” si trova immerso nello splendido paesaggio vulcanico etneo ed è raggiungibile comodamente in macchina. Trascorreremo l’intera giornata sotto i pini che riparano l’area.`
		>
			<a
				target="_blank"
				href="https://maps.app.goo.gl/JRrKSRn8m1kZXjfKA"
				class="rounded-lg border border-[#303033] px-10 py-3">Google Maps</a
			>
		</Section>
	</body>
</html>
