---
const { title, description } = Astro.props
---

<div class="grid h-[763px] grid-cols-2 border-2 border-solid bg-[#f3f4e7]">
	<div class="flex content-center justify-center p-8">
		<div class="h-full w-full rounded-2xl bg-[url('/public/images/rifugio-section.jpg')] bg-cover">
		</div>
	</div>
	<div class="flex h-full w-full flex-col justify-around gap-4 p-8">
		<div class="flex flex-col gap-4">
			<h2 set:html={title} class="text-4xl font-bold text-[#303033]" />
			<p set:html={description} class="text-[#303033]" />
		</div>
		<div class="flex justify-center"><slot /></div>
	</div>
</div>
