---
import SectionImage from './section-image.astro'
import SectionContent from './section-content.astro'
const { image, title, description, swap } = Astro.props
---

<div class="grid h-[763px] grid-cols-2 border-2 border-solid bg-[#f3f4e7]">
	<SectionImage image={image} />
	<SectionContent title={title} description={description}><slot /></SectionContent>
</div>
